* {
  border: palegreen solid 2px;
}
body {
  background-color: black;
  
}
.App {
  text-align: center;
  /* margin: 0 auto; */
  /* width: auto; */
  color: whitesmoke;
  
}

/************************** SEARCH BOX **************************/
.search-form {
  border-radius: 5px;
  border-style: none;
  font-size: 1.2rem;
}
.search-btn {
  height: 47px;
  margin-left: 10px;
}
.search-box {
  width: 70%;
  height: 40px;
  max-width: 800px;
  padding-left: 10px;
}


/************************** ALL CARDS **************************/
.all-cards-container {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}
.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/************************** INDIVIDUAL ANIME CARD **************************/
.card-container {
  width: 300px;
}
.img-container {
  
}
.anime-img {
  width: 100%;
}